# Excluir diretórios não necessários no pacote Composer
/docs export-ignore
/tests export-ignore
/.github export-ignore
/.cache export-ignore
/mkdocs export-ignore
/examples export-ignore

# Excluir arquivos extras
/.gitignore export-ignore
/.gitattributes export-ignore
/.editorconfig export-ignore
/.phpunit.result.cache export-ignore
/phpunit.xml export-ignore
/phpstan.neon export-ignore
/composer.lock export-ignore
/CONTRIBUTING.md export-ignore
/llms-full.txt export-ignore
/llms.txt export-ignore
/mkdocs.yml export-ignore
/README.md export-ignore
