site_name: Vinti4Net PHP SDK
site_description: "SDK PHP para integração com o sistema de pagamentos Vinti4/SISP (Cabo Verde)"
repo_url: https://github.com/erilshackle/vinti4net-php
repo_name: erilshackle/vinti4net
edit_uri: edit/main/docs/

theme:
  name: material
  logo: assets/logo.png
  favicon: assets/icon.png

  language: pt

  palette:
    - scheme: default
      primary: teal
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Mudar para tema escuro

    - scheme: slate
      primary: orange
      accent: teal
      toggle:
        icon: material/weather-sunny
        name: Mudar para tema claro

  features:
    - content.code.copy
    - content.code.annotate
    - navigation.sections
    - navigation.top
    - navigation.expand
    - navigation.instant
    - navigation.tracking
    - toc.follow
    - toc.integrate       # TOC aparece à direita
    - header.autohide
    - search.suggest
    - search.highlight
    - search.share
    - announce.dismiss

  font:
    text: Inter
    code: Fira Code

plugins:
  - search
  - tags

extra:
  version:
    provider: manual
    version: "1.0.0"

markdown_extensions:
  - admonition
  - attr_list
  - footnotes
  - def_list
  - md_in_html
  - tables
  - toc:
      permalink: true
  - abbr
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_png
  - pymdownx.highlight
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true

nav:
  - Home: index.md
  - Instalação: installation.md
  - Guia Rápido: quickstart.md
  - Pagamentos:
      - Compra: payments.md
      - Reembolsos: refunds.md
  - Faturação (3DS): billing.md
  - Respostas: responses.md
  - Arquitetura: architecture.md
  - Sobre: about.md
